@import url(https://fonts.googleapis.com/css?family=Roboto);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #272727;
  color: #F3F3F3;
  font-family: 'Roboto', Arial, sans-serif; }

main {
  height: 100%; }

.logo {
  padding: 5px 15px 5px 0;
  font-size: 32px;
  vertical-align: middle; }

.jumbotron {
  width: 100%;
  height: 100%;
  background: no-repeat right center fixed url("/pic3.jpg");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
  position: relative; }
  .jumbotron .image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px; }
  .jumbotron .page-title {
    text-align: center;
    top: 50%;
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    color: #FDFFFC;
    width: 100%;
    text-shadow: 0 0 50px #000000; }

section {
  color: #272727; }
  section a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    vertical-align: middle;
    color: #272727;
    text-decoration: none; }
    section a:hover, section a:focus {
      color: #50CDB6;
      text-decoration: none; }
  section:nth-child(odd) {
    background-color: #FDFFFC; }
  section:nth-child(even) {
    background-color: #F3F3F3; }
  section .container {
    padding: 120px 50px; }
  section h1 {
    color: #50CDB6;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 30px;
    font-weight: 600; }
  section h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 30px; }
  section h3 {
    color: #50CDB6;
    font-size: 16px; }
  section article:not(:last-child) {
    margin-bottom: 50px; }

.skill {
  display: inline;
  text-align: right; }
  .skill li {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #50CDB6;
    opacity: 0.2;
    border-radius: 10px; }
    .skill li[active] {
      margin: 0;
      opacity: 1; }

footer .container {
  padding: 10px 50px; }

nav {
  background: transparent;
  height: 50px;
  position: fixed;
  color: #272727; }

.language {
  position: fixed;
  right: 20px;
  top: 20px; }
  .language li {
    cursor: pointer; }
  .language .active {
    font-weight: 600; }

.dot-menu {
  position: fixed;
  right: 20px;
  top: 50%;
  bottom: 50%; }
  .dot-menu li {
    cursor: pointer;
    margin: 5px;
    padding: 5px; }
    .dot-menu li:focus span, .dot-menu li:hover span {
      text-align: right;
      opacity: 1; }
    .dot-menu li a {
      width: 14px;
      height: 14px;
      border-radius: 12px;
      border: 1px solid #272727;
      color: #272727;
      display: block;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      .dot-menu li a:focus, .dot-menu li a:hover {
        color: #272727;
        text-decoration: none; }
      .dot-menu li a.active {
        background-color: #272727; }
      .dot-menu li a span {
        text-transform: uppercase;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        position: absolute;
        opacity: 0;
        right: 35px;
        margin-top: -4px; }

textarea {
  resize: none; }

.asterisk {
  color: #FF3B3F; }

label {
  font-weight: 400; }

.btn-default {
  background-color: #50CDB6;
  border: #1D9A83;
  color: #272727;
  padding: 6px 30px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  margin-bottom: 50px; }
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #1D9A83;
    color: #FDFFFC; }

@media (min-width: 768px) {
  .wide-gutter {
    margin-left: -25px;
    margin-right: -25px; }
    .wide-gutter > [class*="col-"] {
      padding-right: 25px;
      padding-left: 25px; }
  .align-right-sm {
    text-align: right; } }

footer span {
  margin: 10px 0; }

footer a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  color: #F3F3F3;
  text-decoration: none; }
  footer a:hover, footer a:focus {
    color: #50CDB6;
    text-decoration: none; }

ul.list-unstyled {
  margin-bottom: 0; }

ol, ul {
  -webkit-padding-start: 10px; }
