<nav class="navbar navbar-fixed-top">
    <div class="container-fluid hidden-xs">
        <div class="language">
            <ul class="list-unstyled list-inline">
                <li [ngClass]="{'active' : isLanguage('pl')}" (click)="changeLanguage('pl')"><span>PL</span></li>
                <li><span>/</span></li>
                <li [ngClass]="{'active' : isLanguage('en')}" (click)="changeLanguage('en')"><span>EN</span></li>
            </ul>
        </div>
        <div class="dot-menu" data-gumshoe-header>
            <ul class="list-unstyled" data-gumshoe>
                <li><a href="#about" data-scroll><span>{{'ABOUT' | translate}}</span></a></li>
                <li><a href="#experience" data-scroll><span>{{'EXPERIENCE' | translate}}</span></a></li>
                <li><a href="#skills" data-scroll><span>{{'ABILITIES' | translate}}</span></a></li>
                <li><a href="#contact" data-scroll><span>{{'CONTACT' | translate}}</span></a></li>
            </ul>
        </div>
    </div>

    <!-- mobile -->
    <div class="container-fluid mobile-navbar visible-xs">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="toggleNavbar()">
                <i class="fa fa-angle-down" [ngClass] = "{'fa-rotate-180' : !isClosed()}"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" [ngClass] = "{'collapse' : isClosed(), 'collapsed' : !isClosed()}">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about" data-scroll (click)="toggleNavbar()"><span>{{'ABOUT' | translate}}</span></a></li>
                <li><a href="#experience" data-scroll (click)="toggleNavbar()"><span>{{'EXPERIENCE' | translate}}</span></a></li>
                <li><a href="#skills" data-scroll (click)="toggleNavbar()"><span>{{'ABILITIES' | translate}}</span></a></li>
                <li><a href="#contact" data-scroll (click)="toggleNavbar()"><span>{{'CONTACT' | translate}}</span></a></li>
                <li [ngClass]="{'active' : isLanguage('pl')}" (click)="changeLanguage('pl'); toggleNavbar()" class="mobile-language-top"><a><span>Polski</span></a></li>
                <li [ngClass]="{'active' : isLanguage('en')}" (click)="changeLanguage('en'); toggleNavbar()" class="mobile-language-bottom"><a><span>English</span></a></li>
            </ul>
        </div>
    </div>

</nav>
<header class="jumbotron">
    <div class="page-title">Agnieszka Jaśmina Góralczyk</div>
</header>
<div>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h1>{{'ABOUT' | translate}}</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <article>
                        <p>{{'DESCRIPTION_PART1' | translate}}</p>
                        <p>{{'DESCRIPTION_PART2' | translate}}</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h1>{{'EXPERIENCE' | translate}}</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <h2>{{'CAREER' | translate}}</h2>
                    <article>
                        <h3>{{'CAREERS.COHESIVA.TITLE' | translate}}</h3>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-12 col-sm-6">{{'CAREERS.COHESIVA.COMPANY' | translate}}</div>
                            <div class="col-xs-12 col-sm-6 align-right-sm">{{'CAREERS.COHESIVA.DATES' | translate}}</div>
                        </div>
                        <p>{{'CAREERS.COHESIVA.DESCRIPTION' | translate}}</p>
                    </article>
                    <h2>{{'EDUCATION' | translate}}</h2>
                    <article>
                        <h3>{{'SCHOOLS.CS_MASTERS.TITLE' | translate}}</h3>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-12 col-sm-6">{{'SCHOOLS.CS_MASTERS.SCHOOL' | translate}}</div>
                            <div class="col-xs-12 col-sm-6 align-right-sm">{{'SCHOOLS.CS_MASTERS.DATES' | translate}}</div>
                        </div>
                        <p>{{'SCHOOLS.CS_MASTERS.DESCRIPTION' | translate}}</p>
                    </article>
                    <article>
                        <h3>{{'SCHOOLS.DESIGN_BACHELOR.TITLE' | translate}}</h3>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-12 col-sm-6">{{'SCHOOLS.DESIGN_BACHELOR.SCHOOL' | translate}}</div>
                            <div class="col-xs-12 col-sm-6 align-right-sm">{{'SCHOOLS.DESIGN_BACHELOR.DATES' | translate}}</div>
                        </div>
                        <p>{{'SCHOOLS.DESIGN_BACHELOR.DESCRIPTION' | translate}}</p>
                    </article>
                    <article>
                        <h3>{{'SCHOOLS.CS_BACHELOR.TITLE' | translate}}</h3>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xs-12 col-sm-6">{{'SCHOOLS.CS_BACHELOR.SCHOOL' | translate}}</div>
                            <div class="col-xs-12 col-sm-6 align-right-sm">{{'SCHOOLS.CS_BACHELOR.DATES' | translate}}</div>
                        </div>
                        <p>{{'SCHOOLS.CS_BACHELOR.DESCRIPTION' | translate}}</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h1>{{'ABILITIES' | translate}}</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <h2>{{'SKILLS' | translate}}</h2>
                    <article>
                        <div class="row wide-gutter">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let skill of abilities.skills_1st_column">{{ skill.name }}
                                        <ol class="skill pull-right">
                                            <li [ngClass]="{'active' : skill.value >= 1}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 2}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 3}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 4}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 5}"></li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let skill of abilities.skills">{{ skill.name }}
                                        <ol class="skill pull-right">
                                            <li [ngClass]="{'active' : skill.value >= 1}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 2}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 3}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 4}"></li>
                                            <li [ngClass]="{'active' : skill.value >= 5}"></li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <h2>{{'TOOLS' | translate}}</h2>
                    <article>
                        <div class="row wide-gutter">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let tool of abilities.tools_1st_column">{{ tool.name }}
                                        <ol class="skill pull-right">
                                            <li [ngClass]="{'active' : tool.value >= 1}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 2}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 3}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 4}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 5}"></li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let tool of abilities.tools">{{ tool.name }}
                                        <ol class="skill pull-right">
                                            <li [ngClass]="{'active' : tool.value >= 1}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 2}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 3}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 4}"></li>
                                            <li [ngClass]="{'active' : tool.value >= 5}"></li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <h2>{{'LANGUAGES' | translate}}</h2>
                    <article>
                        <div class="row wide-gutter">
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let lang of abilities.languages_1st_column">{{ 'LANGS.' + lang.name | translate }}
                                        <ol class="skill pull-right" tooltipPlacement="bottom" tooltip="On the Bottom!">
                                            <li [ngClass]="{'active' : lang.value >= 1}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 2}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 3}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 4}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 5}"></li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let lang of abilities.languages">{{ 'LANGS.' + lang.name | translate }}
                                        <ol class="skill pull-right">
                                            <li [ngClass]="{'active' : lang.value >= 1}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 2}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 3}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 4}"></li>
                                            <li [ngClass]="{'active' : lang.value >= 5}"></li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <h1>{{'CONTACT' | translate}}</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="row wide-gutter ajg-links">
                        <div class="col-xs-12 col-sm-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-envelope-square logo" aria-hidden="true"></i><a href="mailto:contact@ajgoralczyk.com">contact@ajgoralczyk.com</a></li>
                                <li><i class="fa fa-linkedin-square logo" aria-hidden="true"></i><a href="https://www.linkedin.com/in/ajgoralczyk" target="_blank">https://www.linkedin.com/in/ajgoralczyk</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-behance-square logo" aria-hidden="true"></i><a href="https://www.behance.net/ajgoralczyk" target="_blank">https://www.behance.net/ajgoralczyk</a></li>
                                <li><i class="fa fa-github-square logo" aria-hidden="true"></i><a href="https://github.com/ajgoralczyk" target="_blank">https://github.com/ajgoralczyk</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-9">
                <span class="pull-right"><a href="ajgoralczyk.com">© ajgoralczyk 2016</a></span>
            </div>
        </div>
    </div>
</footer>
